.corner-common {
    border: 10px solid #f2b92b;
    width: 371px;
    height: 175px;
}

.corner-left-top {
    @extend .corner-common;
    position: absolute;
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.corner-right-bottom {
    @extend .corner-common;
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: none;
    border-top: none;
    z-index: 0;
}

.calculator-wrapper {
    position: relative;

    &__title {
        padding: 35px 0;
        font-size: 30px;
        text-align: center;
    }
}

.arrow-up {
    width: 10%;
    height: 25px;
    background: url('../svg/arrow-up.svg') no-repeat;

}
.arrow-up.reversed {
    transform: rotate(180deg);
}

.input {
    width: 290px;
    height: 41px;
    border: 2px solid #aaaaaa;
    border-radius: 4px;

    background: transparent;
}

.calculator {
    &__btn {
        display: flex;
        justify-content: space-between;
        height: 40px;
        border: 2px solid lightgrey;
        border-radius: 20px;
        width: 100%;
        font-size: 16px;
        padding-left: 10px;
    }
    
    &__selector {
        display: none;
    }

    &__got-massage {
        font-size: 20px;
        margin-left: 10px;
    }

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__pre-tittle {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__direction {
        font-size: 20px;
        margin: 10px 0 20px;
    }

    &__reserve {
        font-size: 20px;
        margin: 10px 0 20px;
    }
    &__btn.client-info {
        width: 70%;
    }
}
.currency-exchange__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 85%;
    
}
.currency-exchange__client-info {
    z-index: 1;
}
.currency-exchange__input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.currency-exchange__calculators {
    justify-content: space-around;
}
.reserse__btn {
    color: #f2b92b;
    font-weight: bold;
}
.payment-method {
    display: flex;
    align-items: center;
    height: 100%;

    &__icon-bank {
        width: 27px;
        height: 75%;
        background-size: cover;
        margin: 0 10px 0 5px;
    }
    &__payment-name {
        font-size: 23px;
        font-weight: 400;
    }
}
.btc {
    background-image: url(../svg/btc.svg);
}
.sberbank {
    background-image: url(../svg/sber.svg);
}
.arrow-icon {
    background: url(../svg/arrow-down.svg) no-repeat 100%;
    width: 20px;
    margin-right: 15px;
}
.client-pre_tittle {
    color: #282828;
    font-weight: bold;
}
.confirmation-block{
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__course {
        text-transform: uppercase;
        color: #282828;
        font-weight: bold;
        font-size: 26px;
    }
    &__exchange-button {
        background-color: #f2b92b;
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 25px;
        font-size: 20px;
        text-align: center;
        color: #282828;
    }
    &__ruls-link {
        text-decoration: none;
        color: #f2b92b;
    }
}
input[type="text"]::-moz-placeholder {color: #5b5b5b;}
input[type="text"]::-webkit-input-placeholder { color: #5b5b5b;}
input[type="text"]:-ms-input-placeholder { color: #5b5b5b;}
input[type="text"]::-ms-input-placeholder { color: #5b5b5b;}
input[type="text"]::placeholder { color: #5b5b5b;} 
input[type="text"]:focus{outline: none;}
.field-info {width: 65%;}


