.faq {

    &__question-block {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        border: 2px solid gray;
        border-radius: 20px;
        margin: 20px 0;
    }

    &__question-block.reverse-arrow .faq__question-text::after {
        transform: rotate(0.5turn);
        transition: 0.5s;
    }


    &__question-block:hover{
        background-color: lightgray;
        transition: 0.5s;
    }


    &__question-text,
    &__answer-text {
        font-size: 20px;
        display: flex;
        align-items: center;
        padding: 0 30px;  
    }

    &__question-text::before{
        content: '';
        width: 50px;
        height: 50px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    &__question-text::after{
        content: '';
        width: 20px;
        height: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: auto;
        background-image: url("../svg/arrow-down.svg");
        transition: 0.5s;
    }

    &__answer-text {
        margin-top: 0;
    }


}
.exc::before {
    background-image: url("../svg/faq1.svg");
}
.mst::before {
    background-image: url("/svg/faq2.svg");
}
.no-phone::before {
    background-image: url("/svg/faq3.svg");
}
.loan::before{
    background-image: url("/svg/faq4.svg");
}
.hour::before{
    background-image: url("/svg/faq5.svg");
}
.mind::before {
    background-image: url("/svg/faq6.svg");
}