@font-face {
    font-family: "DINPro-Medium";
    src: url("/fonts/DINPro-CondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "DINPro-Bold";
    src: url("/fonts/DINPro-Bold.ttf") format("truetype");
}