
.our-guarantees {

    &__text {
        padding-left: 20px;
        width: 80%;
    }
    &__list-item {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon {
        width: 70px;
        height: 70px;
        background-size: cover;
    }
}
.eye {
    background-image: url("../icons/eye.png");
}
.transfer {
    background-image: url("../icons/transfer.png");
}
.g-and-ya {
    background-image: url("../icons/g-and-ya.png");
}
.ssl {
    background-image: url("../icons/ssl.png"); 
}
.money {
    background-image: url("../icons/money.png");
}
.dialog {
    background-image: url("../icons/dialog.png");
}