@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import 'calculator';

@import "./slick-theme";
@import "./slick";

.main-content {
    margin: 0;
    padding: 0;
}

// header
.info-company {
    height: 50px;
    background-color: #eaba48;
    display: flex;
    justify-content: flex-end;

}
.info-company__social-links {
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-link {
    color: #453f37;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.telegram::before {
    content: '';
    background-image: url('../svg/telegram.svg') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
}
.e-mail::before {
    content: '';
    background-image: url('../svg/email.svg') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;  
}
.number::before {
    content: '';
    background-image: url('../svg/phone.svg') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%; 
}
.personable-block {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo-block__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;  
}
.menu-bar {
    height: 100px;
    margin-top: 30px;
}
.container.menu-wrapper {
    height: 100%;
}
.container.logo-wrapper {
    z-index: 1;
}
.main-logo {
    margin: auto 0;
}
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin: auto 0;
}
.navigation-menu__menu-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-menu__menu-item {
    text-transform: uppercase;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-right: 25px;

    & a{
        color: #231f20;
        text-decoration: none;
    }

}
.navigation-menu__menu-item:hover{
    border-top: 3px solid #eaba48;
    border-bottom: 3px solid #eaba48;
}
.cursor-pointer {
    position: absolute;
}

// main
.crawl-line {
    width: 100%;
    height: 70px;
    background-color: #474b4a;
    margin-top: 30px;
    position: relative;
}
.slider-text {
    display: none;
    text-align: center;
    font-size: 36px;
}
.slider-text.slick-slide{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    color: white;
}
.crawl-line__speaker {
    position: absolute;
    position: absolute;
    top: 15px;
    left: 14%;
}
.rules-info {
    margin: 10px 0 40px;
}
.rules-info__block {
    background-color: lightgrey;
    border-radius: 5px;
}
.rules-info__text {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}
.currency-exchange {
    margin: 40px 0;
}


