<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="utf-8">
		<title>Fair Pay</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Roboto+Condensed&display=swap" rel="stylesheet">
	</head>
	<body class="main-content">
		<header class="top-content">
			<div class="info-company container-fluid">
				<div class="row">
					<div class="info-company__social-links">
						<a class="social-link telegram" href="">tg@test.com</a>
						<a class="social-link e-mail" href="">test@crypt.com</a>
						<a class="social-link number" href="">+1(222)333-44-55</a>
					</div>
				</div>
			</div>
			<div class="personable-block container-fluid">
				<canvas class="cursor-pointer" style="width: 100%; height:100%;"></canvas>
				<div class="container logo-wrapper" id="cursorPointer">
					<div class="logo-block__wrapper">
						<img class="main-logo" src="../svg/main-logo.svg" alt="Логотип">
					</div>
				</div>
			</div>
			<div class="menu-bar">
				<div class="container menu-wrapper">
					<nav class="navigation-menu">
						<ul class="navigation-menu__menu-items list-unstyled">
							<li class="navigation-menu__menu-item"><a href="/">Главная страница</a></li>
							<li class="navigation-menu__menu-item"><a href="#info">Информация о проекте</a></li>
							<li class="navigation-menu__menu-item"><a href="/rules.html">Правила</a></li>
							<li class="navigation-menu__menu-item"><a href="#garanties">Гарантии</a></li>
							<li class="navigation-menu__menu-item"><a href="/faq.html">F.A.Q.</a></li>
							<li class="navigation-menu__menu-item"><a href="/contacts.html">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<main class="main-content">
			<section class="crawl-line">
				<div class="crawl-line__wrapper container">
					<img class="crawl-line__speaker" src="../svg/speaker.svg" alt="Бегущая строка">
					<div id="slickVertical" class="crawl-line__slider">
						<span class="slider-text">Мы запускаем приложение для Andoid & IOS такого то числа</span>
						<span class="slider-text">Мы приняли участие в конференции ''Тенденции международных переводов</span>
						<span class="slider-text">Мы имплементировали функцию трекинга транзакции</span>
						<span class="slider-text">Наша команда поучаствовала в Hartford Worldwide Hackaton</span>
						<span class="slider-text">Мы оптимизировали скорость работы сервиса</span>
						<span class="slider-text">Команда FairPay разрабатывает новый холодный кошелёк для хранения более 18 криптовалют</span>
						<span class="slider-text">FairPay разрабатывает базу для заключения смарт- контрактов с клиентами </span>
					</div>
				</div>
			</section>
				<!-- <section class="rules-info">
					<div class="rules-info__wrapper container">
						<div class="rules-info__block row">
							<p class="rules-info__text col-lg-12 col-md-12">Обмен во всех направлениях проходит в автоматическом режиме (без участия оператора) и 5-10 минут после оплаты!</p>
							<p class="rules-info__text col-lg-12 col-md-12">Часы работы оператора с 9:00-01:00 по МСК ежедневно.</p>
							<p class="rules-info__text col-lg-12 col-md-12">Минимальная сумма покупки криптовалюты - 1000 рублей.</p>
							<p class="rules-info__text col-lg-12 col-md-12">Возможен обмен крупных сумм, до 500 т.р по всем предложенным банкам за одну операция.</p>
							<p class="rules-info__text col-lg-12 col-md-12">Для создания заявки на обмен заполните все необходимые данные и перейдите в окно оплаты, система сделает перевод<br>автоматически после поступления вашего платежа</p>
						</div>
					</div>
				</section> -->
				<section class="currency-exchange">
					<div class="container calculator-wrapper">
						<h2 class="calculator-wrapper__title">Укажите валюту которую хотите обменять</h2>
						<div class="corner-left-top"></div>
						<div class="currency-exchange__block row">
							<div class="currency-exchange__give-get col-lg-8 col-md-8">
								<div class="currency-exchange__calculators row">
									<div class="from direction calculator__from col-lg-4 col-md-4">
										<div class="calculator__title">
											<div class="calculator__pre-tittle">
												<i class="arrow-up"></i>
												<span class="calculator__got-massage input-name">Отдам</span>
											</div>
											<div class="calculator__btn calculator__btn--from" data-ticker="SBER">
												<div class="payment-method">
													<i class="payment-method__icon-bank sberbank"></i>
													<span class="payment-method__payment-name">Сбербанк</span>
												</div>
												<i class="arrow-icon"></i>
											</div>
											<p class="calculator__direction">Выберете направление</p>
										</div>
										<div class="calculator__selector selector-currency__dropdown-list">
											<div class="row">
												<div class="selector__row-1 col-md-6"></div>
												<div class="selector__row-2 col-md-6"></div>
											</div>
										</div>
										<div class="from__list"></div>
										<div class="calculator__sum">
											<input class="calculator__btn calculator__input--from calculator__btn--sum" type="text" placeholder="Введите сумму">
											<div class="error-msg">Поле не заполнено</div>
											<p class="calculator__reserve">Min: <span class="sum-min reserse__btn">1000</span> <span class="min-currency">RUB</span></p>
										</div>
									</div>
									<div class="to direction calculator__to col-lg-4 col-md-4">
										<div class="calculator__title">
											<div class="calculator__pre-tittle">
												<i class="arrow-up reversed"></i>
												<span class="calculator__got-massage input-name">Получу</span>
											</div>
											<div class="calculator__btn calculator__btn--to" data-ticker="BTC">
												<div class="payment-method">
													<i class="payment-method__icon-bank btc"></i>
													<span class="payment-method__payment-name">BitcoinBTC</span>
												</div>
												<i class="arrow-icon"></i>
											</div>
											<p class="calculator__reserve">Резерв: <span class="reserve-sum reserse__btn"></span> <span class="reserve-ticker"></span></p>
										</div>
										<div class="calculator__selector selector-currency__dropdown-list">
											<div class="row">
												<div class="selector__row-1 col-md-6"></div>
												<div class="selector__row-2 col-md-6"></div>
											</div>
										</div>
										<div class="to__list"></div>
										<div class="calculator__sum">
											<input class="calculator__btn calculator__input--to calculator__btn--discount" type="text" placeholder="Введите сумму">
											<div class="error-msg">Поле не заполнено</div>

											<p class="calculator__reserve">Скидка <span class="reserse__btn">0</span> %</p>
										</div>
									</div>
								</div>
								<div class="confirmation-block">
									<div class="confirmation-block__wrapper">
										<div class="confirmation-block__course">1
											<span class="confirmation-block__from-name">RUB</span> =
											<span class="confirmation-block__rate">0.00000179</span>
											<span class="confirmation-block__to-name">BTC</span></div>
										<button id="btn-exchange" class="confirmation-block__exchange-button">Обменять</button>
										<p class="confirmation-block__agreement">Нажимая кнопку «обменять», Вы соглашаетесь с <a href="/rules.html" class="confirmation-block__ruls-link">правилами</a> обмена.</p>
									</div>
								</div>
							</div>
							<div class="currency-exchange__client-info col-lg-4 col-md-4">
								<div class="currency-exchange__wrapper">
									<div class="currency-exchange__input">
										<div class="calculator__pre-tittle field-info">
											<span class="calculator__got-massage client-pre_tittle">Номер карты для оплаты</span>
										</div>
										<input class="card_number calculator__btn client-info" type="text" placeholder="Номер карты">
										<div class="error-msg">Карта введена неправильно</div>
									</div>
									<div class="currency-exchange__input">
										<div class="calculator__pre-tittle field-info"><span class="calculator__got-massage client-pre_tittle">Ф.И.О. отправителя</span></div>
										<input class="calculator__btn client-info" type="text" placeholder="Ф.И.О. владельца">
									</div>
									<div class="currency-exchange__input">
										<div class="calculator__pre-tittle field-info" data-ticker="BTC">
											<span class="calculator__got-massage client-pre_tittle">
												<span class="client-pre-currency">Адрес</span>
												кошелек для получения
											</span>
										</div>
										<input class="crypto_address calculator__btn client-info" type="text" placeholder="Адрес кошелека">
										<div class="error-msg">Адрес кошелька указан неверно</div>
									</div>
									<div class="currency-exchange__input">
										<div class="calculator__pre-tittle field-info"><span class="calculator__got-massage client-pre_tittle">Ваш E-mail</span></div>
										<input id="email" class="calculator__btn client-info" type="text" placeholder="Например: user@gmail.com">
										<div class="error-msg">Неверно введен почтовый вдресс</div>
									</div>
								</div>
							</div>
						</div>
						<div class="corner-right-bottom"></div>
					</div>
				</section>
				<section class="our-guarantees" id="garanties">
					<div class="container our-guarantees__wrapper">
						<div class="our-guarantees__lists row">
							<h2 class="sections-tittle our-guarantees__tittle col-lg-12 col-md-12">Наши гарантии</h2>
							<div class="our-guarantees__list-items col-lg-12 col-md-12 row">
								<div class="our-guarantees__block col-lg-6 col-md-6">
									<div class="our-guarantees__list-item">
										<i class="our-guarantees__icon eye"></i>
										<p class="our-guarantees__text">FairPay систематически проводит внутренний аудит <br> криптовалютных и фиатных резервов.</p>
									</div>
									<div class="our-guarantees__list-item">
										<i class="our-guarantees__icon transfer"></i>
										<p class="our-guarantees__text">Все обмены автоматические/полуавтоматические <br> и происходят за 5 минут.</p>
									</div>
									<div class="our-guarantees__list-item">
										<i class="our-guarantees__icon g-and-ya"></i>
										<p class="our-guarantees__text">Заключен договор на рекламу в GoogleAdwords <br> и ЯндексДирект.</p>
									</div>
								</div>
								<div class="our-guarantees__block col-lg-6 col-md-6">
									<div class="our-guarantees__list-item">
										<i class="our-guarantees__icon ssl"></i>
										<p class="our-guarantees__text">Работа нашего сервиса происходит по зашифрованному <br> каналу SSL, все операции остаются анонимнымии <br> и находятся в полной безопасности.</p>
									</div>
									<div class="our-guarantees__list-item">
										<i class="our-guarantees__icon money"></i>
										<p class="our-guarantees__text">Хороший резерв валют, что обеспечивает быстрый обмен.</p>
									</div>
									<div class="our-guarantees__list-item">
										<i class="our-guarantees__icon dialog"></i>
										<p class="our-guarantees__text">Большое количество отзывов от клиентов. Все отзывы наших <br> клиентов вы можете прочитать на странице Отзывы. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- <section class="project-info">
					<div class="project-info__wrapper container">
						<div class="project-info__block row">

						</div>
					</div>
				</section> -->
		</main>
		<footer class="footer-information">
			<div class="footer-information__wrapper container">
				<div class="footer-information__row row">
					<div class="footer-information__footer-logo col-lg-3 col-md-3">
						<img class="footer-information__f-logo" src="../svg/footer-logo.svg" alt="footer-logo">
						<span class="footer-information__slogan">НАДЕЖНО. ВСЕГДА. 24/7.</span>
					</div>
					<div class="footer-information__navigation-menu col-lg-9 col-md-9">
						<div class="footer-information__menu">
							<ul class="footer-information__menu-items list-unstyled">
								<li class="footer-information__menu-item"><a class="footer-information__menu-link" href="/">Главная страница</a></li>
								<li class="footer-information__menu-item"><a class="footer-information__menu-link" href="#info">Информация о проекте</a></li>
								<li class="footer-information__menu-item"><a class="footer-information__menu-link" href="/rules.html">Правила</a></li>
								<li class="footer-information__menu-item"><a class="footer-information__menu-link" href="#garanties">Гарантии</a></li>
								<li class="footer-information__menu-item"><a class="footer-information__menu-link" href="/faq.html">F.A.Q.</a></li>
								<li class="footer-information__menu-item"><a class="footer-information__menu-link" href="/contacts.html">Контакты</a></li>
							</ul>
						</div>
						<div class="footer-information__social-links">
							<a class="footer-information__social-link f-telegram" href="">tg@test.com</a>
							<a class="footer-information__social-link f-email" href="">test@crypt.com</a>
							<a class="footer-information__social-link f-phone" href="">+1(222)333-44-55</a>
						</div>
						
					</div>
					<span class="footer-information__ktz col-lg-12 col-md-12">POWERED BY KTZ <br> 2019</span>
				</div>
			</div>
		</footer>
		<div id="preloader" style="display: none;">
			<div id="preloader-container">
			
			</div>
		</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="../js/underscore.min.js" type="text/javascript"></script>
	<script src="../js/createNumberMask.js"></script>
	<script src="../js/vanillaTextMask.js"></script>
	<script src="../js/jquery.creditCardValidator.js"></script>
	<script src="../js/wallet-address-validator.min.js"></script>
	<script src="../js/stats.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/calclulator.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/slowSlide.js"></script>
	<script src="../js/sliderParametrs.js"></script>
	<script id="card_number_template" type="text/template">
		<div class="calculator__pre-tittle field-info">
			<span class="calculator__got-massage client-pre_tittle">Номер карты для оплаты</span>
		</div>
		<input class="card_number calculator__btn client-info" type="text" placeholder="Номер карты">
		<div class="error-msg">Карта введена неправильно</div>
	</script>
	<script id="crypto_address_template" type="text/template">
		<div class="calculator__pre-tittle field-info" data-ticker="<%= ticker %>">
			<span class="calculator__got-massage client-pre_tittle">
			<span class="client-pre-currency"><%= name %></span> кошелек для получения
			</span>
		</div>
		<input class="crypto_address calculator__btn client-info" type="text" placeholder="<%= name %> кошелек">
		<div class="error-msg">Неверный адрес <%= name %> кошелька</div>
	</script>
	<script id="currency_item_template" type="text/template">
		<div class='currencyItem' data-name="<%=currency.name%>" data-ticker="<%= currency.ticker %>" data-rub-rate="<%=currency.rub%>">
			<div style="background-image: url(./svg/<%=currency.ticker.toLowerCase()%>.svg)" class="selector-currency__icon"></div>
			<div class="selector-currency__name"><%=currency.name%></div>
		</div>
	</script>
	</body>

</html>