@import "./colors";

.corner-common {
    border: 10px solid #f2b92b;
    width: 350px;
    height: 150px;
    z-index: -1;
}

.corner-left-top {
    @extend .corner-common;
    position: absolute;
    top: 0;
    left: 15px;
    border-right: none;
    border-bottom: none;
}

.corner-right-bottom {
    @extend .corner-common;
    position: absolute;
    right: 15px;
    bottom: 0;
    border-left: none;
    border-top: none;
}

.calculator-wrapper {
    position: relative;
    padding-top: 15px;

    &__title {
        padding: 25px 0;
        font-weight: 400;
        text-align: center;
    }
}

.arrow-up {
    width: 20px;
    height: 20px;
    background: url('../svg/arrow-up.svg') no-repeat;
    margin-right: 10px;
    background-size: contain;

}
.arrow-up.reversed {
    transform: rotate(180deg);
}

.input {
    width: 290px;
    height: 41px;
    border: 2px solid #aaaaaa;
    border-radius: 4px;

    background: transparent;
}

.calculator {

    &__btn {
        display: flex;
        justify-content: space-between;
        height: 45px;
        border: 2px solid lightgrey;
        border-radius: 20px;
        width: 100%;
        font-size: 16px;
        font-family: "DINPro-Medium", "sans-serif";
        padding-left: 10px;
        transition: .18s;
        cursor: pointer;

        &.field-error {
            border-color: #ea5454;
        }
    }
    
    &__selector {
        display: none;
        position: absolute;
        z-index: 10;
        top: 80px;
        width: 450px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-color: white;
    }

    &__title {
        display: flex;
        flex-direction: column;
        height: 110px;
    }

    &__pre-tittle {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        height: 25px;
    }

    &__reserve,
    &__direction {
        margin: 10px 0 0;
        padding: 0 15px;
    }
    &__btn.client-info {
        width: 75%;
        cursor: auto;
    }
    &__sum {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 110px;
    }

}
.calculator__btn--discount,
.calculator__btn--sum {
    cursor: auto;
}
.calculator__btn--discount:focus-within,
.calculator__btn--sum:focus-within {
    border: 2px solid #282828;
}
.client-info:focus-within {
    border: 2px solid #282828;
}
.calculator__got-massage.input-name {
    font-size: 25px;
}
.calculator__btn--from:hover,
.calculator__btn--to:hover {
    background-color: $grey-hover;
}
.selector-currency {

    &__icon {
        width: 27px;
        height: 27px;
        background-repeat: none;
    }
    &__name {
        margin-left: 7px;
        font-size: 18px;
    }
}

.currencyItem {
    display: flex;
    flex-direction: row;

    cursor: pointer;
    padding: 10px;

    &:hover {
        background-color: $grey-hover;
        transition: 0.18s;
    }
}

.currency-exchange__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
}
.currency-exchange {
    height: 600px;

    &__client-info {
        z-index: 1;
    }

    &__input {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110px;
    }

    &__calculators {
        justify-content: space-around;
    }

    &__footer {
        display: flex;
        justify-content: flex-start;
    }

    &__give-get {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.reserse__btn {
    color: #f2b92b;
}
.payment-method {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;

    &__icon-bank {
        width: 20px;
        height: 20px;
        background-size: cover;
        margin: 0 10px 0 5px;
    }
}
.btc {
    background-image: url(../svg/btc.svg);
}
.sberbank {
    background-image: url(../svg/sber.svg);
}
.arrow-icon {
    background: url(../svg/arrow-down.svg) no-repeat 100%;
    width: 20px;
    margin-right: 15px;
}
.client-pre_tittle {
    color: #282828;
}
.confirmation-block{
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__course {
        text-transform: uppercase;
        color: #282828;
        font-size: 30px;
        margin-bottom: 15px;
        
    }
    &__exchange-button {
        background-color: #f2b92b;
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 25px;
        font-size: 25px;
        text-align: center;
        color: #282828;
        cursor:pointer;
    }
    &__ruls-link {
        text-decoration: none;
        color: #f2b92b;
    }
    &__exchange-button {
        outline: none;
    }
}
input[type="text"]::-moz-placeholder {color: #5b5b5b;}
input[type="text"]::-webkit-input-placeholder { color: #5b5b5b;}
input[type="text"]:-ms-input-placeholder { color: #5b5b5b;}
input[type="text"]::-ms-input-placeholder { color: #5b5b5b;}
input[type="text"]::placeholder { color: #5b5b5b;} 
input[type="text"]:focus{outline: none;}
.field-info {
    width: 75%;
    padding: 0 10px;
}

[disabled] {
    pointer-events: none;
    opacity: 0.5;
    cursor: no-drop;
}

.error-msg {
    display: none;
    color: #ea5454;
    padding: 5px 15px;
    width: 75%;
    font-size: 16px;
  }


