.transaction-status {

    margin-block-end: 40px;

    &__row {
        padding: 0 15px;
    }

    &__numeric-status {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__not-completed {
        color: gray;
    }

    &__arrow {
        width: 40px;
        height: 40px;
        background: url(../svg/arrow-gold.svg) no-repeat;
        background-size: cover;
    }

    &__text-status {
        margin-top: 35px;
        padding: 0 30px;
    }

    &__text{
        font-size: 25px;
        margin: 10px 0;
        display: flex;
    }

    &__numbering-text {
        background-color: #282828;
        color: white;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 27px;
        margin-right: 15px;
    }
    &__numbering-text.active-text {
        background-color: #f3ba2f;
    }

}
.transaction-status__active-status.numeric-proccess {
    width: 75px;
    height: 75px;
    font-size: 55px;
}
.transaction-status__active-status::before,
.transaction-status__active-status::after{
    color: #f3ba2f;
}

.numeric-proccess {
    font-size: 45px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.numeric-proccess::before,
.numeric-proccess::after {
    content: '';
    position:absolute;
    // border-radius: 5px;
}
.numeric-proccess::before {
    top: 0px;
    left: 0;
    width: 50%;
    height: 50%;
    border-top: 3px solid;
    border-left: 3px solid;
    
}
.numeric-proccess::after {
    bottom: 0;
    right: 0;
    height: 50%;
    width: 50%;
    border-bottom: 3px solid;
    border-right: 3px solid;
}